@use"../abstracts/variable" as v;


.modal-mission{

    visibility: hidden;
    opacity: 0;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: white;
    padding: 15px;

    &.active{

        visibility: visible;
        opacity: 1;

    }


    .modal-mission__button-return{

        display: flex;
        align-items: center;

        position: absolute;
        top: 15px;
        left: 15px;

        gap: 5px;

        padding: 10px 20px;

        border-radius: v.$border-radius;

        background-color: white;

        cursor: pointer;

        border: 1px solid grey;
        box-shadow: 0px 0px 5px grey;

        color: v.$third-color;

        transition: all 0.3s;

        &:hover{

            background-color: rgb(236, 236, 236);

        }


        ion-icon{

            

        }

        p{

            margin: 0;
            font-weight: 600;

        }

    }


    .modal-mission__first-part{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        .modal-mission__bg{

            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;
            width: 100%;

            &::after{

                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to bottom, transparent 0%, white 100%)

            }s


            img{

                width: 100%;
                object-fit: cover;

            }

        }


        .modal-mission__avatar{

            width: 120px;
            height: 120px;
            border-radius: 500px;
            border: 5px solid white;
            overflow: hidden;



            img{

                width: 100%;
                height: 100%;
                object-fit: cover;

            }

        }

        .modal-mission__icon{


            width: 100px;
            height: 100px;
            background-color: black;
            border-radius: 20px;

        }


        .modal-mission__titre{

            font-size: 25px;
            font-weight: 600;

        }



    }


}